/*****************************************************************************
  tabs
******************************************************************************/


@import '../../bower_components/bourbon/dist/_bourbon.scss';
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';





/*****************************************************************************
  Base Styles
******************************************************************************/

.qbox{
width: 50%;
margin-right: auto;
margin-left:auto;
}

.bold{

	font-weight: bold;
}

.link{

display:inline;

}

li, li li, li li li { 


list-style-type: none; 

} 

/*****************************************************************************
  Layout Styles
******************************************************************************/




/*****************************************************************************
  Module Styles
******************************************************************************/




