/*****************************************************************************
  tabs
******************************************************************************/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*****************************************************************************
  Base Styles
******************************************************************************/
.qbox {
  width: 50%;
  margin-right: auto;
  margin-left: auto; }

.bold {
  font-weight: bold; }

.link {
  display: inline; }

/*****************************************************************************
  Layout Styles
******************************************************************************/
/*****************************************************************************
  Module Styles
******************************************************************************/